@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.text-lower {
  text-transform: lowercase !important;
}

.demographic-analysis__header h1, p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.demographic-analysis__header h1 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -6%;
}

.demographic-analysis__header h3 {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}

.header-row {
  position: relative;
  padding: 0 40px;
}

.demographic-analysis__header h3 {
 position: relative;
}

.demographic-analysis__header .nav {
 position: absolute;
 top: 70px;
 margin-left: 375px;
}

.demographic-analysis__header p {
  font-size: 14px;
  line-height: 24px;
}

.analysis-main-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 80px 24px;
}

.analysis-left-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 180px;
  border-top: none;
}

.analysis-panel--item,
.analysis-panel--item--selected {
  min-height: 50px;
  margin-left: 0;
  border-top: 1px solid #1a1b1a;
  background-color: #f3f3f4;
}

.analysis-panel--item--selected {
  background-color: #1a1b1a;
}

.analysis-panel--item--selected p {
  background-color: #1A1B1C;
  color: #f3f3f4;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.analysis-panel--item p {
  background-color: #f3f3f4;
  color: #1A1B1C;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.analysis-center-panel {
  display: flex;
  width: 70%;
  height: 50vh;
  margin: 0 8px;
  padding: 0 28px;
  background-color: #f3f3f4;
  border-top: 1px solid #1a1b1c;
}

.center-title {
  margin-left: 10px;
}

.analysis-right-panel-wrapper {
  display: flex;
  width: 30%;
  min-height: 50vh;
  margin-right: 32px;
  padding: 0 10px;
  background-color: #f3f3f4;
  border-top: 1px solid #1a1b1c;
}

.analysis-right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.confidence-header {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f4;
  padding: 6px 0;
  border: none;
}

.confidence-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f4;
  padding: 4px 8px;
  color: #1a1b1c;
}

.confidence-row.selected {
  background-color: #1a1b1c;
  color: #f3f3f4;
}

.selected:hover span {
  color: #1a1b1a;
}

.confidence-row:hover span {
  background-color: #E1E1E2;
  cursor: pointer;
}

.confidence-row:hover {
  background-color: #E1E1E2;
  cursor: pointer;
}

.selected span {
  background-color: #151516;
  color: #f3f3f4;
}

.confidence-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.diamond-bullet {
  width: 8px;
  height: 8px;
  margin-right: 6px;
  background-color: #1a1b1c;
}

.diamond-svg {
  width: 8px;
  height: 8px;
  margin-right: 6px;
  background: transparent;
  display: block;
}

.is-selected {
  background-color: transparent;
}

.footer-container {
  margin-top: 20px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 40px;
}

.footer-back {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.diamond-button {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  border: 2px solid #1A1B1C;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.triangle {
  width: 0;
  height: 0;
}

.triangle.left {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #1A1B1C;
  transform: rotate(-45deg) translateY(2px);
}

.back-text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}

.footer__text {
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
}


.reset-button:hover {
  background-color: #1a1b1a;
  color: white;
}

.confirm-button {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #1A1B1C;
  color: white;
  transition: background 0.2s ease;
  
}

.confirm-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.dual-button-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reset-button,
.confirm-button {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px;
}


